html{
    height: 100%;
}
body{ 
    height: 100%;
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 0) );
    margin: 0px;
}
.div1{
    width: 100%;
    height: 50px;
    /* background-color: black; */
    text-align: center;
    padding-top: 10px;
    
    /* border-bottom: 1px solid white; */
}
header{
    color: rgb(244, 244, 244);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.div2{
    width: 300px;
    text-align: center;
    margin-left: 10px;
    top: 10px;
    position: relative;
    background: rgb(12, 12, 12);
    height: 300px;
    border-radius: 1.5em;
}

.outerdiv2{
    margin: 70px auto;
    margin-top: 20%;
    margin-bottom: 0%;
    width: 320px;
    height: 320px;
    background: linear-gradient(70deg, #ff7a20, violet, rgb(26, 67, 202));
    border-radius: 2em;
    align-items: center;
}

button{
    background-color: black;
    border: 1px solid white;
    border-radius: 0.75em;
    font-size: large;
    color: aliceblue;
    width: 200px;
}
.form1{
    top: 190px;
    position: relative;
    
}
a{
    text-decoration: none;
    color: white;
}
.form1111{
    top: 111px;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
}
.formExit{
    top: 130px;
    position: relative;
}
.SozdDoc{
    top: -25px;
    position: relative;
}
.SozdNagr{
    top: 130px;
    position: relative;
}
.Prepodi{
    top: 30px;
    position: relative;
}
.CheckNagr{
    top: 70px;
    position: relative;
}
.Exit{
    top: 160px;
    position: relative;
}
.ad1{
    top: 60px;
    position: relative;
}
.ad2{
    top: 80px;
    position: relative;
}
.ad3{
    top: 100px;
    position: relative;
}
.InfoText1{
    margin-left: 700px;
    top: -90px;
}
p{
    color: rgb(244, 244, 244);
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    /*text-align: right;*/
    top: -600px;
    position: relative;
}
.form987{
    top: 625px;
    position: relative;
    width:300px;
    margin-left: 850px;
    font-size: 1.1rem; 
    
}
.Ex{
    top: 120px;
    position: relative;
}